body {
	background: #fff;
	font: 9pt Helvetica, Arial, Tahoma, sans-serif;
	color: #aaa;
	overflow: hidden;
}

body.ajax {
	background: transparent;
}

body.ajax div#container, div.load div#container {
	height: inerit;
	position: relative;
	width: 100%;
	text-align: left;
}

a {
	color: #000;
}

div#container {
	height: auto !important;
	margin: 0 auto;
	position: relative;
	width: 100%;
	text-align: left;
}

div#header {
	height: 50px;
	background: url(images/fond-header.png) repeat-x;
	position: fixed;
	width: 100%;
	top: 0;
}

div#header-top {

}

div#header div#logo {
	float: left;
	font-size: 150%;
	font-weight: bold;
	text-transform: uppercase;
}

div#header div#logo a {
	color: #fff;
	text-decoration: none;
	display: block;
	line-height: 50px;
	padding: 0 17px;
	border-right: 1px solid #a01c8b;
}

div#header div#logo a:hover {
	color: #cccccc;
}

div#header div#logo a .small {
	color: #000;
}

div#userbox {
	color: #c1cad0;
	float: right;
	text-align: right;
	margin-right: 10px;
}

div#userbox a {
	display: block;
	float: left;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 1px 1px 1px #FFFFFF;

	background: rgba(255, 255, 255, 0.9);
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #000;
	line-height: 26px;
	margin: 12px 5px;
	padding: 0 10px;
}

div#userbox div#search {
	float: left;
}

div#userbox input {
	background: rgba(255, 255, 255, 0.9);
	color: #000;
	line-height: 26px;
	margin: 12px 5px;
	padding: 0 10px;


	display: block;
	float: left;
	font-weight: bold;

	margin: 12px 5px;
	padding: 0 10px;
	text-decoration: none;
	text-shadow: 1px 1px 1px #FFFFFF;

	border: none;
	height: 26px;
}

div#userbox input.text {
	-webkit-border-top-right-radius: none;
	-khtml-border-top-right-radius: none;
	border-top-right-radius: none;
	-moz-border-radius-topright: none;

	-webkit-border-bottom-right-radius: none;
	-khtml-border-bottom-right-radius: none;
	border-bottom-right-radius:	none;
	-moz-border-radius-bottomright: none;

	-webkit-border-top-left-radius: 5px;
	-khtml-border-top-left-radius: 5px;
	border-top-left-radius:	5px;
	-moz-border-radius-topleft: 5px;

	-webkit-border-bottom-left-radius: 5px;
	-khtml-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;

	margin-right: 0;
	border: 2px solid #7a0076;
}

div#userbox input.submit {
	-webkit-border-top-right-radius: 5px;
	-khtml-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;

	-webkit-border-bottom-right-radius: 5px;
	-khtml-border-bottom-right-radius: 5px;
	border-bottom-right-radius:	5px;
	-moz-border-radius-bottomright: 5px;

	-webkit-border-top-left-radius: none;
	-khtml-border-top-left-radius: none;
	border-top-left-radius:	none;
	-moz-border-radius-topleft: none;

	-webkit-border-bottom-left-radius: none;
	-khtml-border-bottom-left-radius: none;
	border-bottom-left-radius:	none;
	-moz-border-radius-bottomleft: none;

	margin-left: 0;

	background: #7a0076;
	color: #fff;
	text-shadow: none;
	cursor: pointer;
}

div#userbox a:hover {
	color: #000;
}

/** menu **/
ul#menu {
	margin: 0;
	padding: 0;
	position: relative;
	top: -50px\9;
	height: 100%;
}

ul#menu li.top {
	position: relative;

	list-style:none;
	margin: 1px; padding: 0;

	overflow: hidden;
	height: 166px;
}

ul.sub {
	overflow: hidden;
	position: relative;
	z-index: 10;
}

ul#menu li small {
	background: #9ca4a7;

	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	color: #fff;
	display: block;
	float: right;
	font-weight: bold;
	line-height: 20px;
	margin: 5px 0;
	padding: 0 10px;
	text-decoration: none;
}

ul#menu li ul li small {
	margin: 2px 0;padding: 0 5px;
	background: #7a0076;
	line-height: 16px;
}

ul#menu li ul li:hover small {
	background: #fff;
	color: #cf58cb;
}

ul#menu li.admin {
	background: #f00;
}

ul#menu li.top > a {
	color: #7a0076;
	text-decoration: none;
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 30px;
	text-align: left;
	padding-left: 5px;
	background: #fff;
	z-index: 20;
	position: relative;

	border-bottom: 1px solid #dadfe3;
	padding-bottom: 5px;
}

ul#menu li.top ul li a {
	color: #cf58cb;
	text-decoration: none;

	display: block;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;

	text-align: left;
	padding-left: 20px;
	line-height: 20px;
}

ul#menu li.top ul li:hover a {
	padding-left: 5px;
}

ul#menu li a.top-level {
	position: relative;
	padding-right: 25px;
}

ul#menu li a.top-level span {
	background: url(images/arrow_state_grey_expanded.png) no-repeat 0px 2px;
	width: 16px;
	height: 16px;
	display: block;
	position: absolute;
	right: 5px;
	top: 5px;
}

ul#menu li ul li {
	padding: 3px;
}

ul#menu li ul li:hover {
	color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 3px;
	background-color: #f1cbe1;
	background-color: #7a0076;
}

ul#menu li ul li:hover a {
	color: #000;
	color: #fff;
}

ul#menu li.selected a {
	color:#fff;
}

div#content {
	display: block;

	position: fixed;
	top: 50px; right: 0; bottom: 26px; left: 220px;
	overflow: auto;
}

div#left, div#right {
	display: block;
	width: 204px;
	position: fixed;
	top: 50px; left: 0; bottom: 26px;
	padding: 8px;
	border-right: 1px solid #dadfe3;
}

div#right {
	width: 0;
	right: 0;
	left: inherit;
	display: none;
}

div#content #content-in {
	border: 0px solid #C6C5C5;
	margin: 0; padding: 10px;
}

div#content div.menu {
	margin-top: -10px;
	margin-bottom: 10px;
}

div#content div.menu li {
	float: left;
	padding-right: 10px;
	margin-right: 10px;
	border-right: 1px solid #bbb;
}

div#content div.menu li:first {
}

div#content div.menu li:last {
	border-right: none;
	margin-right: 0;
	padding-right: 0;
}

div#title {

}

div#title h1, div#title small {
	line-height: 25px;
	margin: 5px 0;
}

div#title h1 {
	color: #000;
	float: left;
	font-size: 200%;
	font-weight: bold;
}

div#title small {
	float: left;
	font-size: 150%;
	line-height: 25px;
	padding-left: 10px;
	clear: both;
}

#modal div#title {
	padding: 10px;
	background: #000;
}

#modal div#title h1 {
	color: #fff;
}

div#title #admin-bar {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 0;
}

div#footer {
	background: #000;
	width: 100%; height: 26px;
	text-align: center;
	z-index: 30;
	position: fixed;
	bottom: 0;
}

div#footer-top, div#footer-top a {
	color: #fff;
	text-align: left;
}

div#footer-top a, div#modal a {
	color: #ED3499;
}

div#footer-middle {
	color: #f2f2f2;
	margin: 5px;
}

div#footer-middle h4 {color:#fff; text-transform:uppercase; margin:5px 0; font-size:120%; font-weight:bold;}
div#footer-middle a {color:#adc3d3; font-weight:bold; font-size:0.9em; text-decoration:none;}
div#footer-middle a:hover {color:#fff;}

div#footer-middle h2 {font-size:160%; text-transform:uppercase; padding-top:10px; padding-right:10px; font-weight:bold;}
div#footer-middle h2 a {color:#a1a5a6;}
div#footer-middle h2 a:hover {color:#c7cdcf;}

div#footer-bottom {
	text-align: center;
	position: absolute;
	bottom: 15px;
	width: 100%;
}

div#footer-middle {
	text-align: center;
}

div#footer-bottom p {color:#717272; font-size:0.9em;}
div#footer-bottom p a {color:#ccc; text-decoration:none;}

div#footer-middle .list {
	float: left;
	width: 316px;
}

div#footer-middle .list.deux {
	margin: 0 5px;
}

div#footer-middle .list h4 {
	color: #fff;

}

div#footer-middle .list ul, div#footer-middle .list ul li {
	list-style: none;

	margin: 0;
	padding: 0;
}

div#footer-middle .list ul li {
	color: #839AAF;
}

.align-left {
	float: left;
	text-align: left;
}

.align-middle {
	text-align: center;
}

.align-right {
	float: right;
	text-align: right;
}

table tr {
	height: 25px;
	line-height: 25px;
	border-bottom: 1px solid #b9b9b9;
}

table tr th {
	height: 35px;
}

td.table-action a.view {
	background: url("images/icon-delete.gif") no-repeat center left;
}

td.table-action a.edit {
	background: url("images/icon-edit.gif") no-repeat center left;
}

td.table-action a.delete {
	background: url("images/icon-delete.gif") no-repeat center left;
	margin-right: 0 !important;
}

td.table-action {
	width: 191px;
}

td.table-action a {
	color: #666;
	display: inline-block;
	height: 16px;
	margin-right: 10px;
	padding-left: 20px;
	text-align: right;
	text-decoration: none;
	height: 25px;
	line-height: 25px;

	width: \9;
}

td.table-action a:hover {
	color: #000;
}

div.actions {
	text-align: right;
	margin: 10px 0;
}

a.button {
	background: url("images/bg-buttons-left.gif") no-repeat scroll 0 0 transparent;
	color: #fff;
	display: inline-block;
	font-size: 9pt;
	font-weight: bold;
	height: 21px;
	padding: 0 0 0 15px;
	text-decoration: none;
}

a.button span {
	background: url("images/bg-buttons-right.gif") no-repeat scroll right center transparent;
	display: block;
	line-height: 21px;
	padding: 0 15px 0 0;
}

a.button:hover span {
	color: #000;
}

p.form {
	padding: 2px 0;
	clear: both;
}

p.form label {
	text-align: right;
	height: 22px;
	line-height: 22px;
}

p.form label span {
	padding-left: 5px;
	position: relative;
	top: -2px;
}

p.form label.intitule {
	width: 150px;
	float: left;
	padding-right: 15px;
}

fieldset .inline {
	margin-left: 90px;
}

p.form .form-select {
	margin: 2px 0;
}

p.form .form-checkbox input {
	margin: 5px 3px;
}

fieldset .inline p.form {
	float: left;
}

fieldset .inline p.form label.intitule {
	width: 60px;
}

.add_field {
	position: relative;
	top: 6px;
	cursor: pointer;
	margin-left: 10px;
	float: left;
}

#userbox_off input, #userbox_off span {
	float: right;
}

span.icon.user {
	background: transparent url("images/icon-greet-user.gif") no-repeat scroll 0 5px;
	width: 12px;
	height: 17px;
	display: block;
	margin-right: 5px;
}

.recent_projects {
    background: #215B8D;
}

#content_panel {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C5C5;
    clear: both;
}
#column_w666 {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    padding: 40px 48px 20px 50px;
    width: 566px;
    
    width: 666px\9;
}
#column_w290 {
    background: url("images/content_right_column_bg_2.jpg") repeat-y scroll left center #EEEEEE;
    float: left;
    padding: 40px 0 20px;
    width: 292px;
}
.news_section {
    clear: both;
    margin: 0 20px 20px;
}
.news_section .news_date {
    background: url("images/templatemo_news_date_bg_2.jpg") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    float: left;
    font-size: 26px;
    font-weight: bold;
    height: 50px;
    padding: 20px 0 0;
    text-align: center;
    width: 80px;
}
.news_section .news_date span {
    display: block;
    font-size: 14px;
    font-weight: normal;
    margin-top: 10px;
}
.news_section .news_content {
    float: right;
    width: 160px;
}
#column_w290 .inputfield {
    font-size: 12px;
    font-variant: normal;
    height: 16px;
    line-height: normal;
    margin: 0 0 10px;
    padding: 2px 5px;
    width: 235px;
}
#column_w290 .submitbutton {
    cursor: pointer;
    float: right;
    font-size: 12px;
    margin: 0;
    padding: 2px 6px 4px;
    text-align: center;
    vertical-align: bottom;
    white-space: pre;
}
.column_w290_content {
    margin: 0 20px;
}
#column_w610 p {
    padding-bottom: 20px;
}

.list_with_icon {
    list-style: none outside none;
    margin: 0 0 0 30px;
    padding: 0;
}
.list_with_icon li {
    background: url("images/templatemo_list_icon_2.jpg") no-repeat scroll left top transparent;
    margin: 0 0 10px;
    padding: 0 0 0 30px;
}


#accueil-view div#content #content-in {
	padding: 0;
}

.pagination {
	margin: 5px 0;
}

.pagination ul {
	margin: 0; padding: 0;
	list-style: none;
	display: block;
}

.pagination ul li {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
}

.pagination ul li a {
	padding: 5px;
	display: block;
	color: #000;
}

.pagination ul li.current a, .pagination ul li a:hover {
	background: #ccc;
}

#actus ul, #actus ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}

#actus ul li {
	padding: 5px;
}

#actus ul li a {
	color: #000;
	text-transform: capitalize;
}

#actus .more {
	padding: 5px;
	text-align: right;
}

#actus .more a {
	color: #000;
}

.listing {
	width: 950px;
}

.listing .item, .item {
	border: 1px solid #67A5CF;
	background: #C3D4DF;
	padding: 10px;
	position: relative;
	margin-bottom: 10px;
}

.listing .item {
	width: 443px;
	height: 115px;
	float: left;
	margin-right: 10px;
}

.listing .item h2 {
	display: block;
}

.listing .item h3 {
	display: block;
}

.item .admin, .actu-home .admin {
	display: block;
	bottom: 10px;
	left: 10px;
	background: #f00;
	height: 23px;
	float: left;
}

.item .admin a, .actu-home .admin a {
	color: #fff;
	padding: 5px;
	float: left;
	display: block;
}

.actu-home {
	position: relative;
}

.listing .item .telephone, .item.actu .admin, .actu-home .admin {
	position: absolute;
	display: block;
	top: 10px;
	right: 10px;
	bottom: inherit;
	left: inherit;
}

.item div.contenu {
	margin-bottom: 30px;
}

.listing .item .adresse, .listing .item p {
	clear: both;
	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px solid #67A5CF;
	margin-bottom: 10px;
}

.listing .item .adresse .contact, .listing .item .adresse .rue, .listing .item .adresse .ruebis {
	display: block;
}

.listing .item .adresse .ville {
	margin-left: 5px;
}

.listing .item .email, .listing .item .view {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.item a {
	color: #000;
}

.item h2 {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #67A5CF;
}

.item small {
	font-size: 60%;
	margin-left: 10px;
}

.listing .item h2 {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}

#footer h4 span {
	margin-left: 10px;
}

#footer h4 span a {
	color: #fff;
	text-transform: none;
}

.message {
	padding: 10px;
	background: green;
	color: #fff;
	margin: 5px 0;

	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
}

#resultat-view .infos {
	margin: 10px 0;
	padding: 10px;
}

#footer .align-left, #footer .align-right, #footer .align-middle {
	float: left;
}

#footer .align-left, #footer .align-right {
	width: 20%;
}

#footer .align-right {
	float: right;
}

#footer .align-middle {
	width: 60%;
	line-height: 26px;
}

#list_video > p {
	color: #000000;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	padding: 5px 10px;
	background-color: #ddd;
}

#list_video .video {
	float: left;
	text-align: center;
	margin: 10px; padding: 0;
	position: relative;
}

#list_video .video a {

/*
	display: block;
	width: 158px;
	height: 208px;

*/
	/*margin: 3px -70px 3px 3px;*/
	margin: 0;
	overflow: hidden;
	z-index: 10;

}

#list_video .video a:hover {


	/*margin: 0 -73px 0 0;
	margin: 0;*/
	z-index: 20;
}

#list_video .video img {
	margin: 0;
	width: 160px; height: 210px;

	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;

	overflow: hidden;
}

#list_video .video a .overlay {
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
	transition-duration: 0.5s;

	-webkit-box-shadow: 0 0 2px #000 inset, 0 0 15px rgba(0, 0, 0, 0.3) inset;
	-moz-box-shadow: 0 0 2px #000 inset, 0 0 15px rgba(0, 0, 0, 0.3) inset;
	box-shadow: 0 0 2px #000 inset, 0 0 15px rgba(0, 0, 0, 0.3) inset;

	display: block;

	position: absolute;
	top: 0; left: 0;

	width: 160px;
	height: 210px;

	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

#list_video .video a:hover .overlay, #list_video .video a.watched .overlay {
	display: block;

	background: rgba(0, 0, 0, 0.75) url(images/overlay_video.png) no-repeat center center;
}

#list_video .video .title {
	padding-top: 10px;
	display: none;
}

#modal {
	display: none;
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 100%;
	z-index: 80;
}

#modal .overlay {
	position: absolute;
	top: 0; left: 0;
	background: rgba(0, 0, 0, 0.5);
	width: 100%; height: 100%;
}

#modal .content {
	position: absolute;
	left: 50%; 
	top: 50%;
	width: 700px;
	height: 400px;
	margin-top: -200px; /* moitié de la hauteur */
	margin-left: -350px; /* moitié de la largeur */

	background: #fff;

	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow: 0 0 5px #fff;
	-moz-box-shadow: 0 0 5px #fff;
	box-shadow: 0 0 5px #fff;

	overflow: hidden;
}

#modal .content ul.menu {
	background: #ccc;
	border-bottom: 3px solid #000;
}

#modal .content ul.menu li {
	float: left;
	display: block;
	padding: 10px;
}

#modal .content ul.menu li.buy {
	background: #ed3499;
}

#modal .content ul.menu li.buy a {
	color: #fff;
}

#modal .content ul.menu li.right {
	float: right;
	padding: 4px;
	position: relative;
	background: #000;
	border-bottom: 1px solid #000;
}

#modal .content ul.menu li.right:before {
	border: 16px solid #000;
	border-color: #000 #000 transparent transparent;

	content: " ";
	float: left;
	width: 1px; height: 0;

	position: absolute;
	top: ; left: -33px;
	margin: -5px 0;
}

#modal .content ul.menu li:hover, #modal .content ul.menu li.current {
	background: #000;
	position: relative;
}

#modal .content ul.menu li:hover:after, #modal .content ul.menu li.current::after {
	content: ' ';
	position: absolute;
	border: 10px solid #f00;
	border-color: black transparent transparent;
	left: 50%; bottom: -20px;
}

#modal .content ul.menu li a {
	color: #000;
	cursor: pointer;
}

#modal .content ul.menu li:hover a, #modal .content ul.menu li.current a {
	color: #fff;
}

#modal #title p {
	float: right;
}

#modal li.right span.icon a {
	color: #fff;
}

span.icon {
	display: block;
	padding-left: 30px;
	height: 24px;
	line-height: 24px;
	color: #fff;
	float: left;
}

span.icon.view {
	background: url("images/icon-view.png") no-repeat center left;
}

.tab.infos, .tab.similarity, .tab.stats, .tab.comments, .tab.buy, .tab.watch {
	display: none;
}

.tab.current {
	display: block;
}

#modal .tab-content {
	margin-top: 15px;
}

#modal .tab-content .infos, #modal .tab-content .watch {
	padding: 0 10px;
}

#modal .tab-content img {
	float: left;
}

#modal .tab-content .allocine {
	display: block;
	float: right;
	height: 250px;
	overflow: auto;
	text-align: left;
	width: 512px;
}

#modal .tab-content .allocine > span {
	border-bottom: 1px dotted lightgrey;
	color: #000000;
	display: block;
	margin: 5px 0;
	padding-bottom: 5px;
}

#modal .tab-content .allocine > span.duration {
	margin-top: 0;
}

#modal .tab-content .allocine > span.abstract {
	border-bottom: none;
	margin-top: 5px;
}

#modal .tab-content .allocine > span label {
	font-weight: bold;
}

#modal .tab-content .allocine > span.abstract label {
	display: block;
	margin-bottom: 5px;
}

#viewTitle {
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
	transition-duration: 0.5s;

	background: #f5f5f5;
	padding: 5px 10px;

	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow: 0 0 10px #000000, 0 0 2px #000 inset;
	-moz-box-shadow: 0 0 10px #000000, 0 0 2px #000 inset;
	box-shadow: 0 0 10px #000000, 0 0 2px #000 inset;

	background: #d60087; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q2MDA4NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZDM0OTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #d60087 0%, #ed3499 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d60087), color-stop(100%,#ed3499)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d60087 0%,#ed3499 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d60087 0%,#ed3499 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d60087 0%,#ed3499 100%); /* IE10+ */
	background: linear-gradient(top,  #d60087 0%,#ed3499 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d60087', endColorstr='#ed3499',GradientType=0 ); /* IE6-8 */

	text-shadow: 1px 1px 1px #000;

	color: #fff;

	z-index: 3000;
}

.tab-content div.tab.stats {
	height: 250px;
}

.tab-content div.tab.stats .stat {
	float: left;
	border: 1px solid #fff;
	margin: -1px;
	height: 216px;
}

.tab-content div.tab.stats .stat .date {
	display: block;
	background: #ffbaf9;
	padding: 10px;
	color: #000;
}

.tab-content div.tab.stats .stat .count {
	display: block;
	background: #ed3499;
	color: #fff;
	font-size: 20px;
	border: 1px solid #fff;
	line-height: 50px;
}

.tab-content div.tab.stats .stat:hover .date {
	background-color: #e188d9;
}

.tab-content div.tab.stats .stat:hover .count {
	background-color: #b20f68;
}